//========== 栅格系统 START ==========
	@screen-xs                 : 480px;
	@screen-xs-min             : @screen-xs;
	@screen-phone              : @screen-xs-min;
	
	@screen-sm                 : 768px;
	@screen-sm-min             : @screen-sm;
	@screen-tablet             : @screen-sm-min;
	
	@screen-md                 : 992px;
	@screen-md-min             : @screen-md;
	@screen-desktop            : @screen-md-min;
	
	@screen-lg                 : 1200px;
	@screen-lg-min             : @screen-lg;
	@screen-lg-desktop         : @screen-lg-min;
	
	@screen-xs-max             : (@screen-sm-min - 1);
	@screen-sm-max             : (@screen-md-min - 1);
	@screen-md-max             : (@screen-lg-min - 1);
	
	@grid-columns              : 12;
	@grid-gutter-width         : 30px;
	@grid-float-breakpoint     : @screen-sm-min;
	@grid-float-breakpoint-max : (@grid-float-breakpoint - 1);
	
	@container-tablet          : (720px + @grid-gutter-width);
	@container-sm              : @container-tablet;
	
	@container-desktop         : (940px + @grid-gutter-width);
	@container-md              : @container-desktop;
	
	@container-large-desktop   : (1140px + @grid-gutter-width);
	@container-lg              : @container-large-desktop;
//========== 栅格系统 END ==========
	
//========== 基本色、排版 START ==========
	@white                 : #fff;
	
	@black1                : #333;
	@black2                : #666;
	@black3                : #9b9b9b;
	
	@grey1                 : #ccc;
	@grey2                 : #e5e5e5;
	@grey3                 : #fafafa;
	
	@red1                  : #ff696e;
	@red2                  : #ff5257;
	@pink                  : #ffefed;
	
	@green                 : #a1e8b1; 
	@yellow                : #ffde90;
	
	@order-green           : #a1e8b1;
	@order-blue            : #3d5475;
	@order-red             : #ff596e;
	@order-grey            : #ccc;
	
	@font-size-1           : 36px;
	@font-size-2           : 30px;
	@font-size-3           : 24px;
	@font-size-4           : 20px;
	@font-size-5           : 16px;
	@font-size-6           : 14px;
	@font-size-7           : 12px;
	
	@line-height           : 1.5; 
	
	@font-family           : "Roboto Regular", Helvetica, Arial, sans-serif;
	
	@bg-color              : @white;
	@text-color            : @black1;
	@text-font-size        : @font-size-7;
	
	@link-color            : @grey1;
	@link-hover-color      : darken(@link-color, 15%);
	@link-hover-decoration : underline;
	
//========== 基本色、排版 END ==========
	
//========== Z-index master list ==========
	@zindex-navbar             : 1000;
	@zindex-dropdown           : 1000;
	@zindex-navbar-fixed       : 1030;
	@zindex-modal-background   : 1040;
	@zindex-modal              : 1050;
	@zindex-popover            : 1060;
	@zindex-tooltip            : 1070;